.form-input{
    display:grid;
    grid-template-rows: repeat(5,1fr);
}

.library-container{
    display:grid;
    grid-template-columns: repeat(4,100px);
}

.submit{
    width:fit-content
}

.form-input input{
    width:200px;
}

.book-row{
    color:red;
    border:1px solid black;
}

.header-row{
    color:blue;
    border:1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
